<!DOCTYPE html>
<html>
    <head>
        <!--Fonts-->
        <link rel="stylesheet" href="../static/css/main-page.css">
        <link rel="stylesheet" href="../static/css/result-page.css">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../static/javascript/main-page.js"></script>
        <script src="../static/javascript/get-location.js"></script>
        
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="main-page">
            <div class='background-image-1'>
                <!--Collapsed navigation toggle-->
                <div class="menu-button">
                        <img src="../static/sources/images/menuicon.png" alt="">
                </div>
        
                <nav class="menu"> 
                  <div class="close-button">
                    <img src="../static/sources/images/close.png" alt="">
                  </div>  
                    <ul>
                        <li><a href="/link">Popular routes</a></li>
                        <li><a href="/link">Sign up!</a></li>
                    </ul>
                </nav>
                <h1>Happy Feet</h1>
                <h5>CFG Advanced Hiking site</h5>
            </div>

            <div class='introduction'>
                <h3>Welcome to our website!</h3>
                <p>Our site is to help people like you, who like hiking (novices and advanced) to find some popular hiking areas near you!
                    Scroll down to input a location and find a hiking area near you. Each result will give you some important information aswell as directing
                    you to a streetmap.
                </p>
            </div>

            <div class='background-image-2'>
                <div class="loader"></div>
                <div class='getstarted'>Lets get started</div>
                <div class='search-wrapper'>
                    <div class='search-wrapper--button'>
                        <button id='get-current-location' onclick='getLocation()'>
                            <i class='fa fa-location-arrow' aria-hidden='true'></i>
                        </button>
                    </div>
                    <div class='search-wrapper--button'>
                        <form id='search-location' onsubmit="searchLocation()" >
                            <input id='location-name' type='search' placeholder='Search'>
                        </form>
                    </div>
                </div>
            </div>

            <div class='result-page'>
                <div id='results' class='results'> 
                </div>
                <div id='popup' class='popup'>
                    <div id='close' class='close' onclick='handleClose()'>
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </div>
        
                    <div class='popup_content'>
                        <h2 id='popup_content-title' class='popup_content-title'></h2>

                        <h4 id='popup_content-feature' class='popup_content-feature'></h4>
                        <h4>MOUNTAIN HEIGHT: <span id='popup_content-colheight'></span>
                        </h4>
                        
                        <h4>STREETMAP: <a id='popup_content-streepmap'>Visit here</a></h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
