body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    position: relative;
}

.background-image-1 {
    display: flex;
    flex-direction: column; 
    align-items: center;

    position: relative;
    width: 100%;
    height: 550px;

    background: url(../sources/images/hiking.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.8;
}

.background-image-2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 550px;

    background: url(../sources/images/hiking-2.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.8;
}

.getstarted {
    border: 2px solid rgb(87, 92, 87);
    border-radius: 20px;

    font-family: 'Caveat Brush';

    font-size: 30px;
    
    padding: 40px;
    margin-top: 100px;
    background: rgba(121, 128, 120, 0.85)
}

.menu-button {
    width: 20px;
    height: 20px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.introduction {
    position: relative;

    padding: 50px 80px;

    color: #777;
    background-color: rgb(120, 171, 201);
    text-align: center;
}
