body {
    width: 100%;
    height: 100%;

    background: lightblue;
}

.top_section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.top_section, 
.current_weather, 
.future_weather {
    margin-bottom: 100px;
}

.current_weather {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0 300px;
}

