<!DOCTYPE html>
<html>
    <head>
        <!--Fonts-->
        <link rel="stylesheet" href="../static/css/main-page.css">
        <script src="../static/javascript/main-page.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
       
        <!--Collapsed navigation toggle-->
        <div class="menu-button">
            <img src="../static/sources/images/svg.jpeg" alt="">
        </div>

        <nav class="menu">
            <ul>
                <li><a href="/link">Link Number 1</a></li>
                <li><a href="/link">Link Number 2</a></li>
            </ul>
        </nav>
    </head>

    <body>
        <div class="main-page">
            <h1>Happy Feet</h1>
            <p>CFG Advanced Hiking site</p>
        </div>
    </body>
</html>
