<!DOCTYPE html>
<html>
    <head>
        <!--Fonts-->
        <link rel="stylesheet" href="../static/css/main-page.css">
        <link rel="stylesheet" href="../static/css/animation.css">

        <script src="../static/javascript/main-page.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="main-page">
            <div class='background-image-1'>
                <!--Collapsed navigation toggle-->
                <div class="menu-button">
                        <img src="../static/sources/images/svg.jpeg" alt="">
                </div>
        
                <nav class="menu">
                    <ul>
                        <li><a href="/link">Link Number 1</a></li>
                        <li><a href="/link">Link Number 2</a></li>
                    </ul>
                </nav>
                <h1>Happy Feet</h1>
                <p>CFG Advanced Hiking site</p>
            </div>

            <div class='introduction'>
                <h3>About</h3>
                <p>I'm a paragraph. Please add your own text and edit me. It’s easy. 
                You can add your own content and make changes to the font. 
                I’m a great place for you to tell a story and let your users know a little more about you.</p>
            </div>

            <button class='background-image-2'>
                <div class='getstarted'>Lets get started</div>
            </button>
        </div>

        
    </body>
</html>
